In [1]:
import pandas as pd
import numpy as n

In [2]:
df=pd.read_csv('scores.csv', comment='#', escapechar='\t')
for i in df:
    if i[0]=='\t':
        i==i[1:]
        df.rename(columns={i: i[1:]}, inplace=True)
df=df.loc[df['week']<=34, ['week','home','hmatch','htotal','away','amatch','atotal']] # PEKAN BERAPA
df

,week,home,hmatch,htotal,away,amatch,atotal
0,1,Bali United FC,1,0,PSS Sleman,1,3
1,1,Persis Solo,1,0,Persebaya Surabaya,1,3
2,1,Persib Bandung,1,1,Madura United FC,1,1
3,1,Dewa United FC,1,3,Arema FC,1,0
4,1,PS Barito Putera,1,3,Persita Tangerang,1,0
...,...,...,...,...,...,...,...
292,33,Arema FC,17,37,PSM Makassar,17,41
293,33,Persib Bandung,17,62,Borneo FC Samarinda,16,70
294,33,Persis Solo,17,47,Persita Tangerang,17,36
295,33,PSIS Semarang,17,53,Persikabo 1973,17,20
296,33,Rans Nusantara FC,17,35,Persija Jakarta,17,45

In [3]:
dff=df.groupby(["home","away"]).agg({'hmatch':['max'],'htotal':['max'],'week':['max']})
dff

                                      hmatch htotal week
                                         max    max  max
home              away
Arema FC          Bali United FC           2      1    4
                  Bhayangkara FC          15     31   28
                  Borneo FC Samarinda      8     13   15
                  Dewa United FC          10     17   18
                  Madura United FC         9     14   17
...                                      ...    ...  ...
Rans Nusantara FC Persija Jakarta         17     35   33
                  Persik Kediri            6     19   11
                  Persikabo 1973           1      3    1
                  Persis Solo              7     22   13
                  Persita Tangerang        2      6    3

[297 rows x 3 columns]

# home matches count

In [4]:
#counth=df.groupby(["home"]).agg({'hmatch':['max'],'htotal':['max']}).sort_values(by=('htotal','max'), ascending=False).reset_index()
counth=df.groupby(["home"]).agg({'week':['max'],'hmatch':['max']}).sort_values(by=('week','max')).reset_index()
counth.columns=counth.columns.droplevel(1)
counth.index=counth.index +1
counth

                   home  week  hmatch
1          PSM Makassar    31      16
2        Bhayangkara FC    31      16
3        Persikabo 1973    31      16
4     Persita Tangerang    31      16
5       Persija Jakarta    31      16
6        Bali United FC    32      17
7   Borneo FC Samarinda    32      17
8      Madura United FC    32      16
9            PSS Sleman    32      16
10          Persis Solo    33      17
11        Persik Kediri    33      17
12             Arema FC    33      17
13   Persebaya Surabaya    33      16
14        PSIS Semarang    33      17
15     PS Barito Putera    33      17
16       Dewa United FC    33      16
17       Persib Bandung    33      17
18    Rans Nusantara FC    33      17

# away matches count

In [5]:
counta=df.groupby(["away"]).agg({'week':['max'],'amatch':['max']}).sort_values(by=('week','max')).reset_index()
counta.columns=counta.columns.droplevel(1)
counta.index=counta.index +1
counta

                   away  week  amatch
1           Persis Solo    31      16
2         Persik Kediri    31      16
3        Persib Bandung    31      16
4         PSIS Semarang    31      16
5      PS Barito Putera    31      16
6              Arema FC    32      16
7    Persebaya Surabaya    32      17
8     Rans Nusantara FC    32      16
9        Dewa United FC    32      17
10    Persita Tangerang    33      17
11           PSS Sleman    33      17
12  Borneo FC Samarinda    33      16
13      Persija Jakarta    33      17
14       Bhayangkara FC    33      17
15       Persikabo 1973    33      17
16       Bali United FC    33      16
17     Madura United FC    33      17
18         PSM Makassar    33      17

# Check

In [6]:
cek=counth.merge(counta, left_on='home', right_on='away')
cek['total']=cek['hmatch']+cek['amatch']
cek.rename({'home':'club'}, axis='columns', inplace=True)
cek.drop(columns=['week_x','week_y','away'], inplace=True)
cek

                   club  hmatch  amatch  total
0          PSM Makassar      16      17     33
1        Bhayangkara FC      16      17     33
2        Persikabo 1973      16      17     33
3     Persita Tangerang      16      17     33
4       Persija Jakarta      16      17     33
5        Bali United FC      17      16     33
6   Borneo FC Samarinda      17      16     33
7      Madura United FC      16      17     33
8            PSS Sleman      16      17     33
9           Persis Solo      17      16     33
10        Persik Kediri      17      16     33
11             Arema FC      17      16     33
12   Persebaya Surabaya      16      17     33
13        PSIS Semarang      17      16     33
14     PS Barito Putera      17      16     33
15       Dewa United FC      16      17     33
16       Persib Bandung      17      16     33
17    Rans Nusantara FC      17      16     33