In [6]:
import pandas as pd
import numpy as n

In [7]:
df=pd.read_csv('scores.csv', comment='#', escapechar='\t')
for i in df:
    if i[0]=='\t':
        i==i[1:]
        df.rename(columns={i: i[1:]}, inplace=True)
df=df.loc[df['week']<=14, ['week','home','hmatch','htotal','away','amatch','atotal']] # PEKAN BERAPA
df

,week,home,hmatch,htotal,away,amatch,atotal
0,1,Bali United FC,1,0,PSS Sleman,1,3
1,1,Persis Solo,1,0,Persebaya Surabaya,1,3
2,1,Persib Bandung,1,1,Madura United FC,1,1
3,1,Dewa United FC,1,3,Arema FC,1,0
4,1,PS Barito Putera,1,3,Persita Tangerang,1,0
...,...,...,...,...,...,...,...
121,14,Arema FC,7,13,PSS Sleman,7,18
122,14,Persik Kediri,7,18,Bhayangkara FC,7,6
123,14,Persis Solo,7,19,Persija Jakarta,7,19
124,14,Madura United FC,7,27,Borneo FC Samarinda,7,28
125,14,Persib Bandung,7,24,Persita Tangerang,7,14

In [8]:
dff=df.groupby(["home","away"]).agg({'hmatch':['max'],'htotal':['max'],'week':['max']})
dff

                                    hmatch htotal week
                                       max    max  max
home              away
Arema FC          Bali United FC         2      1    4
                  PS Barito Putera       3      2    6
                  PSS Sleman             7     13   14
                  Persib Bandung         1      1    2
                  Persikabo 1973         5      6   10
...                                    ...    ...  ...
Rans Nusantara FC PSS Sleman             3      8    5
                  Persik Kediri          6     19   11
                  Persikabo 1973         1      3    1
                  Persis Solo            7     22   13
                  Persita Tangerang      2      6    3

[126 rows x 3 columns]

# home matches count

In [9]:
#counth=df.groupby(["home"]).agg({'hmatch':['max'],'htotal':['max']}).sort_values(by=('htotal','max'), ascending=False).reset_index()
counth=df.groupby(["home"]).agg({'week':['max'],'hmatch':['max']}).sort_values(by=('week','max')).reset_index()
counth.columns=counth.columns.droplevel(1)
counth.index=counth.index +1
counth

                   home  week  hmatch
1          PSM Makassar    12       5
2        Persikabo 1973    13       7
3       Persija Jakarta    13       7
4    Persebaya Surabaya    13       7
5            PSS Sleman    13       7
6     Persita Tangerang    13       7
7     Rans Nusantara FC    13       7
8   Borneo FC Samarinda    13       7
9        Bhayangkara FC    13       7
10        PSIS Semarang    14       8
11     Madura United FC    14       7
12       Dewa United FC    14       7
13       Persib Bandung    14       7
14        Persik Kediri    14       7
15       Bali United FC    14       8
16          Persis Solo    14       7
17     PS Barito Putera    14       7
18             Arema FC    14       7

# away matches count

In [10]:
counta=df.groupby(["away"]).agg({'week':['max'],'amatch':['max']}).sort_values(by=('week','max')).reset_index()
counta.columns=counta.columns.droplevel(1)
counta.index=counta.index +1
counta

                   away  week  amatch
1         PSIS Semarang    12       6
2              Arema FC    13       7
3        Bali United FC    13       6
4           Persis Solo    13       7
5        Dewa United FC    13       7
6      Madura United FC    13       7
7      PS Barito Putera    13       7
8         Persik Kediri    13       7
9        Persib Bandung    13       7
10       Persikabo 1973    14       7
11      Persija Jakarta    14       7
12         PSM Makassar    14       9
13           PSS Sleman    14       7
14    Persita Tangerang    14       7
15  Borneo FC Samarinda    14       7
16       Bhayangkara FC    14       7
17   Persebaya Surabaya    14       7
18    Rans Nusantara FC    14       7

# Check

In [11]:
cek=counth.merge(counta, left_on='home', right_on='away')
cek['total']=cek['hmatch']+cek['amatch']
cek.rename({'home':'club'}, axis='columns', inplace=True)
cek.drop(columns=['week_x','week_y','away'], inplace=True)
cek

                   club  hmatch  amatch  total
0          PSM Makassar       5       9     14
1        Persikabo 1973       7       7     14
2       Persija Jakarta       7       7     14
3    Persebaya Surabaya       7       7     14
4            PSS Sleman       7       7     14
5     Persita Tangerang       7       7     14
6     Rans Nusantara FC       7       7     14
7   Borneo FC Samarinda       7       7     14
8        Bhayangkara FC       7       7     14
9         PSIS Semarang       8       6     14
10     Madura United FC       7       7     14
11       Dewa United FC       7       7     14
12       Persib Bandung       7       7     14
13        Persik Kediri       7       7     14
14       Bali United FC       8       6     14
15          Persis Solo       7       7     14
16     PS Barito Putera       7       7     14
17             Arema FC       7       7     14