In [1]:
import pandas as pd
import numpy as n

In [7]:
df=pd.read_csv('scores.csv', comment='#', escapechar='\t')
for i in df:
    if i[0]=='\t':
        i==i[1:]
        df.rename(columns={i: i[1:]}, inplace=True)
df=df.loc[df['week']<=26, ['week','home','hmatch','htotal','away','amatch','atotal']] # PEKAN BERAPA
df

,week,home,hmatch,htotal,away,amatch,atotal
0,1,Bali United FC,1,0,PSS Sleman,1,3
1,1,Persis Solo,1,0,Persebaya Surabaya,1,3
2,1,Persib Bandung,1,1,Madura United FC,1,1
3,1,Dewa United FC,1,3,Arema FC,1,0
4,1,PS Barito Putera,1,3,Persita Tangerang,1,0
...,...,...,...,...,...,...,...
229,26,PSS Sleman,13,31,Persita Tangerang,13,28
230,26,Persib Bandung,13,45,PSIS Semarang,13,43
231,26,Persik Kediri,13,40,PS Barito Putera,14,34
232,26,PSM Makassar,13,34,Persebaya Surabaya,14,32
233,26,Bali United FC,14,45,Persis Solo,14,32

In [8]:
dff=df.groupby(["home","away"]).agg({'hmatch':['max'],'htotal':['max'],'week':['max']})
dff

                                      hmatch htotal week
                                         max    max  max
home              away
Arema FC          Bali United FC           2      1    4
                  Borneo FC Samarinda      8     13   15
                  Dewa United FC          10     17   18
                  Madura United FC         9     14   17
                  PS Barito Putera         3      2    6
...                                      ...    ...  ...
Rans Nusantara FC Persebaya Surabaya      11     32   21
                  Persik Kediri            6     19   11
                  Persikabo 1973           1      3    1
                  Persis Solo              7     22   13
                  Persita Tangerang        2      6    3

[234 rows x 3 columns]

# home matches count

In [9]:
#counth=df.groupby(["home"]).agg({'hmatch':['max'],'htotal':['max']}).sort_values(by=('htotal','max'), ascending=False).reset_index()
counth=df.groupby(["home"]).agg({'week':['max'],'hmatch':['max']}).sort_values(by=('week','max')).reset_index()
counth.columns=counth.columns.droplevel(1)
counth.index=counth.index +1
counth

                   home  week  hmatch
1    Persebaya Surabaya    24      12
2     Rans Nusantara FC    25      13
3           Persis Solo    25      12
4        Bhayangkara FC    25      13
5        Persikabo 1973    25      13
6       Persija Jakarta    25      13
7      PS Barito Putera    25      12
8         PSIS Semarang    25      13
9     Persita Tangerang    25      13
10        Persik Kediri    26      13
11       Persib Bandung    26      13
12             Arema FC    26      14
13     Madura United FC    26      13
14       Dewa United FC    26      13
15  Borneo FC Samarinda    26      14
16       Bali United FC    26      14
17           PSS Sleman    26      13
18         PSM Makassar    26      13

# away matches count

In [10]:
counta=df.groupby(["away"]).agg({'week':['max'],'amatch':['max']}).sort_values(by=('week','max')).reset_index()
counta.columns=counta.columns.droplevel(1)
counta.index=counta.index +1
counta

                   away  week  amatch
1          PSM Makassar    23      13
2         Persik Kediri    25      13
3        Persib Bandung    25      13
4            PSS Sleman    25      13
5      Madura United FC    25      13
6              Arema FC    25      12
7   Borneo FC Samarinda    25      12
8        Bali United FC    25      12
9        Dewa United FC    25      13
10     PS Barito Putera    26      14
11        PSIS Semarang    26      13
12    Persita Tangerang    26      13
13   Persebaya Surabaya    26      14
14       Bhayangkara FC    26      13
15      Persija Jakarta    26      13
16       Persikabo 1973    26      13
17          Persis Solo    26      14
18    Rans Nusantara FC    26      13

# Check

In [11]:
cek=counth.merge(counta, left_on='home', right_on='away')
cek['total']=cek['hmatch']+cek['amatch']
cek.rename({'home':'club'}, axis='columns', inplace=True)
cek.drop(columns=['week_x','week_y','away'], inplace=True)
cek

                   club  hmatch  amatch  total
0    Persebaya Surabaya      12      14     26
1     Rans Nusantara FC      13      13     26
2           Persis Solo      12      14     26
3        Bhayangkara FC      13      13     26
4        Persikabo 1973      13      13     26
5       Persija Jakarta      13      13     26
6      PS Barito Putera      12      14     26
7         PSIS Semarang      13      13     26
8     Persita Tangerang      13      13     26
9         Persik Kediri      13      13     26
10       Persib Bandung      13      13     26
11             Arema FC      14      12     26
12     Madura United FC      13      13     26
13       Dewa United FC      13      13     26
14  Borneo FC Samarinda      14      12     26
15       Bali United FC      14      12     26
16           PSS Sleman      13      13     26
17         PSM Makassar      13      13     26