In [1]:
import pandas as pd
import numpy as n

In [12]:
df=pd.read_csv('scores.csv', comment='#', escapechar='\t')
for i in df:
    if i[0]=='\t':
        i==i[1:]
        df.rename(columns={i: i[1:]}, inplace=True)
df=df.loc[df['week']<=16, ['week','home','hmatch','htotal','away','amatch','atotal']] # PEKAN BERAPA
df

,week,home,hmatch,htotal,away,amatch,atotal
0,1,Bali United FC,1,0,PSS Sleman,1,3
1,1,Persis Solo,1,0,Persebaya Surabaya,1,3
2,1,Persib Bandung,1,1,Madura United FC,1,1
3,1,Dewa United FC,1,3,Arema FC,1,0
4,1,PS Barito Putera,1,3,Persita Tangerang,1,0
...,...,...,...,...,...,...,...
139,16,PSS Sleman,8,19,Persik Kediri,9,20
140,16,Borneo FC Samarinda,8,32,Persib Bandung,9,28
141,16,Persita Tangerang,9,18,Persis Solo,9,20
142,16,Madura United FC,8,30,Dewa United FC,8,24
143,16,Persija Jakarta,9,20,Rans Nusantara FC,8,29

In [13]:
dff=df.groupby(["home","away"]).agg({'hmatch':['max'],'htotal':['max'],'week':['max']})
dff

                                      hmatch htotal week
                                         max    max  max
home              away
Arema FC          Bali United FC           2      1    4
                  Borneo FC Samarinda      8     13   15
                  PS Barito Putera         3      2    6
                  PSS Sleman               7     13   14
                  Persib Bandung           1      1    2
...                                      ...    ...  ...
Rans Nusantara FC PSS Sleman               3      8    5
                  Persik Kediri            6     19   11
                  Persikabo 1973           1      3    1
                  Persis Solo              7     22   13
                  Persita Tangerang        2      6    3

[144 rows x 3 columns]

# home matches count

In [14]:
#counth=df.groupby(["home"]).agg({'hmatch':['max'],'htotal':['max']}).sort_values(by=('htotal','max'), ascending=False).reset_index()
counth=df.groupby(["home"]).agg({'week':['max'],'hmatch':['max']}).sort_values(by=('week','max')).reset_index()
counth.columns=counth.columns.droplevel(1)
counth.index=counth.index +1
counth

                   home  week  hmatch
1           Persis Solo    14       7
2         Persik Kediri    14       7
3        Persib Bandung    14       7
4         PSIS Semarang    14       8
5      PS Barito Putera    14       7
6              Arema FC    15       8
7    Persebaya Surabaya    15       8
8     Rans Nusantara FC    15       8
9        Dewa United FC    15       8
10    Persita Tangerang    16       9
11           PSS Sleman    16       8
12  Borneo FC Samarinda    16       8
13      Persija Jakarta    16       9
14       Bhayangkara FC    16       9
15       Persikabo 1973    16       9
16       Bali United FC    16       9
17     Madura United FC    16       8
18         PSM Makassar    16       7

# away matches count

In [15]:
counta=df.groupby(["away"]).agg({'week':['max'],'amatch':['max']}).sort_values(by=('week','max')).reset_index()
counta.columns=counta.columns.droplevel(1)
counta.index=counta.index +1
counta

                   away  week  amatch
1          PSM Makassar    14       9
2        Bhayangkara FC    14       7
3        Persikabo 1973    14       7
4     Persita Tangerang    14       7
5       Persija Jakarta    14       7
6        Bali United FC    15       7
7   Borneo FC Samarinda    15       8
8      Madura United FC    15       8
9            PSS Sleman    15       8
10          Persis Solo    16       9
11        Persik Kediri    16       9
12             Arema FC    16       8
13   Persebaya Surabaya    16       8
14        PSIS Semarang    16       8
15     PS Barito Putera    16       9
16       Dewa United FC    16       8
17       Persib Bandung    16       9
18    Rans Nusantara FC    16       8

# Check

In [16]:
cek=counth.merge(counta, left_on='home', right_on='away')
cek['total']=cek['hmatch']+cek['amatch']
cek.rename({'home':'club'}, axis='columns', inplace=True)
cek.drop(columns=['week_x','week_y','away'], inplace=True)
cek

                   club  hmatch  amatch  total
0           Persis Solo       7       9     16
1         Persik Kediri       7       9     16
2        Persib Bandung       7       9     16
3         PSIS Semarang       8       8     16
4      PS Barito Putera       7       9     16
5              Arema FC       8       8     16
6    Persebaya Surabaya       8       8     16
7     Rans Nusantara FC       8       8     16
8        Dewa United FC       8       8     16
9     Persita Tangerang       9       7     16
10           PSS Sleman       8       8     16
11  Borneo FC Samarinda       8       8     16
12      Persija Jakarta       9       7     16
13       Bhayangkara FC       9       7     16
14       Persikabo 1973       9       7     16
15       Bali United FC       9       7     16
16     Madura United FC       8       8     16
17         PSM Makassar       7       9     16