In [1]:
import pandas as pd
import numpy as n

In [2]:
df=pd.read_csv('scores.csv', comment='#', escapechar='\t')
for i in df:
    if i[0]=='\t':
        i==i[1:]
        df.rename(columns={i: i[1:]}, inplace=True)
df=df.loc[df['week']<=12, ['week','home','hmatch','htotal','away','amatch','atotal']] # PEKAN BERAPA
df

,week,home,hmatch,htotal,away,amatch,atotal
0,1,Bali United FC,1,0,PSS Sleman,1,3
1,1,Persis Solo,1,0,Persebaya Surabaya,1,3
2,1,Persib Bandung,1,1,Madura United FC,1,1
3,1,Dewa United FC,1,3,Arema FC,1,0
4,1,PS Barito Putera,1,3,Persita Tangerang,1,0
...,...,...,...,...,...,...,...
103,12,Persib Bandung,6,18,Persikabo 1973,6,9
104,12,Persis Solo,6,15,PSIS Semarang,6,18
105,12,Madura United FC,6,26,Persebaya Surabaya,6,18
106,12,Persik Kediri,6,12,Persija Jakarta,6,17
107,12,Borneo FC Samarinda,6,22,PSS Sleman,6,17

In [3]:
dff=df.groupby(["home","away"]).agg({'hmatch':['max'],'htotal':['max'],'week':['max']})
dff

                                    hmatch htotal week
                                       max    max  max
home              away
Arema FC          Bali United FC         2      1    4
                  PS Barito Putera       3      2    6
                  Persib Bandung         1      1    2
                  Persikabo 1973         5      6   10
                  Persita Tangerang      6     10   12
...                                    ...    ...  ...
Rans Nusantara FC Madura United FC       4     12    7
                  PSS Sleman             3      8    5
                  Persik Kediri          6     19   11
                  Persikabo 1973         1      3    1
                  Persita Tangerang      2      6    3

[108 rows x 3 columns]

# home matches count

In [4]:
#counth=df.groupby(["home"]).agg({'hmatch':['max'],'htotal':['max']}).sort_values(by=('htotal','max'), ascending=False).reset_index()
counth=df.groupby(["home"]).agg({'week':['max'],'hmatch':['max']}).sort_values(by=('week','max')).reset_index()
counth.columns=counth.columns.droplevel(1)
counth.index=counth.index +1
counth

                   home  week  hmatch
1     Rans Nusantara FC    11       6
2        Bhayangkara FC    11       6
3        Persikabo 1973    11       6
4       Persija Jakarta    11       6
5      PS Barito Putera    11       6
6         PSIS Semarang    11       6
7     Persita Tangerang    11       6
8            PSS Sleman    11       6
9    Persebaya Surabaya    11       6
10          Persis Solo    12       6
11        Persik Kediri    12       6
12             Arema FC    12       6
13     Madura United FC    12       6
14       Dewa United FC    12       6
15  Borneo FC Samarinda    12       6
16       Bali United FC    12       7
17       Persib Bandung    12       6
18         PSM Makassar    12       5

# away matches count

In [5]:
counta=df.groupby(["away"]).agg({'week':['max'],'amatch':['max']}).sort_values(by=('week','max')).reset_index()
counta.columns=counta.columns.droplevel(1)
counta.index=counta.index +1
counta

                   away  week  amatch
1              Arema FC    11       6
2           Persis Solo    11       6
3         Persik Kediri    11       6
4        Persib Bandung    11       6
5      Madura United FC    11       6
6          PSM Makassar    11       7
7   Borneo FC Samarinda    11       6
8        Bali United FC    11       5
9        Dewa United FC    11       6
10     PS Barito Putera    12       6
11        PSIS Semarang    12       6
12    Persita Tangerang    12       6
13           PSS Sleman    12       6
14   Persebaya Surabaya    12       6
15      Persija Jakarta    12       6
16       Bhayangkara FC    12       6
17       Persikabo 1973    12       6
18    Rans Nusantara FC    12       6

# Check

In [6]:
cek=counth.merge(counta, left_on='home', right_on='away')
cek['total']=cek['hmatch']+cek['amatch']
cek.rename({'home':'club'}, axis='columns', inplace=True)
cek.drop(columns=['week_x','week_y','away'], inplace=True)
cek

                   club  hmatch  amatch  total
0     Rans Nusantara FC       6       6     12
1        Bhayangkara FC       6       6     12
2        Persikabo 1973       6       6     12
3       Persija Jakarta       6       6     12
4      PS Barito Putera       6       6     12
5         PSIS Semarang       6       6     12
6     Persita Tangerang       6       6     12
7            PSS Sleman       6       6     12
8    Persebaya Surabaya       6       6     12
9           Persis Solo       6       6     12
10        Persik Kediri       6       6     12
11             Arema FC       6       6     12
12     Madura United FC       6       6     12
13       Dewa United FC       6       6     12
14  Borneo FC Samarinda       6       6     12
15       Bali United FC       7       5     12
16       Persib Bandung       6       6     12
17         PSM Makassar       5       7     12