In [1]:
import pandas as pd
import numpy as n

In [2]:
df=pd.read_csv('scores.csv', comment='#', escapechar='\t')
for i in df:
    if i[0]=='\t':
        i==i[1:]
        df.rename(columns={i: i[1:]}, inplace=True)
df=df.loc[df['week']<=28, ['week','home','hmatch','htotal','away','amatch','atotal']] # PEKAN BERAPA
df

,week,home,hmatch,htotal,away,amatch,atotal
0,1,Bali United FC,1,0,PSS Sleman,1,3
1,1,Persis Solo,1,0,Persebaya Surabaya,1,3
2,1,Persib Bandung,1,1,Madura United FC,1,1
3,1,Dewa United FC,1,3,Arema FC,1,0
4,1,PS Barito Putera,1,3,Persita Tangerang,1,0
...,...,...,...,...,...,...,...
247,28,PSM Makassar,14,37,PSS Sleman,15,31
248,28,Persik Kediri,14,43,Rans Nusantara FC,14,33
249,28,Bali United FC,15,48,PSIS Semarang,14,46
250,28,Persib Bandung,14,51,Persija Jakarta,14,35
251,28,Persis Solo,14,38,PS Barito Putera,15,37

In [3]:
dff=df.groupby(["home","away"]).agg({'hmatch':['max'],'htotal':['max'],'week':['max']})
dff

                                      hmatch htotal week
                                         max    max  max
home              away
Arema FC          Bali United FC           2      1    4
                  Bhayangkara FC          15     31   28
                  Borneo FC Samarinda      8     13   15
                  Dewa United FC          10     17   18
                  Madura United FC         9     14   17
...                                      ...    ...  ...
Rans Nusantara FC Persib Bandung          14     33   27
                  Persik Kediri            6     19   11
                  Persikabo 1973           1      3    1
                  Persis Solo              7     22   13
                  Persita Tangerang        2      6    3

[252 rows x 3 columns]

# home matches count

In [4]:
#counth=df.groupby(["home"]).agg({'hmatch':['max'],'htotal':['max']}).sort_values(by=('htotal','max'), ascending=False).reset_index()
counth=df.groupby(["home"]).agg({'week':['max'],'hmatch':['max']}).sort_values(by=('week','max')).reset_index()
counth.columns=counth.columns.droplevel(1)
counth.index=counth.index +1
counth

                   home  week  hmatch
1            PSS Sleman    26      13
2     Rans Nusantara FC    27      14
3        Bhayangkara FC    27      14
4        Persikabo 1973    27      14
5       Persija Jakarta    27      14
6      PS Barito Putera    27      13
7         PSIS Semarang    27      14
8     Persita Tangerang    27      14
9    Persebaya Surabaya    27      13
10          Persis Solo    28      14
11        Persik Kediri    28      14
12             Arema FC    28      15
13     Madura United FC    28      14
14       Dewa United FC    28      14
15  Borneo FC Samarinda    28      15
16       Bali United FC    28      15
17       Persib Bandung    28      14
18         PSM Makassar    28      14

# away matches count

In [5]:
counta=df.groupby(["away"]).agg({'week':['max'],'amatch':['max']}).sort_values(by=('week','max')).reset_index()
counta.columns=counta.columns.droplevel(1)
counta.index=counta.index +1
counta

                   away  week  amatch
1           Persis Solo    26      14
2              Arema FC    27      13
3         Persik Kediri    27      14
4        Persib Bandung    27      14
5      Madura United FC    27      14
6          PSM Makassar    27      14
7   Borneo FC Samarinda    27      13
8        Bali United FC    27      13
9        Dewa United FC    27      14
10     PS Barito Putera    28      15
11        PSIS Semarang    28      14
12    Persita Tangerang    28      14
13           PSS Sleman    28      15
14   Persebaya Surabaya    28      15
15      Persija Jakarta    28      14
16       Bhayangkara FC    28      14
17       Persikabo 1973    28      14
18    Rans Nusantara FC    28      14

# Check

In [6]:
cek=counth.merge(counta, left_on='home', right_on='away')
cek['total']=cek['hmatch']+cek['amatch']
cek.rename({'home':'club'}, axis='columns', inplace=True)
cek.drop(columns=['week_x','week_y','away'], inplace=True)
cek

                   club  hmatch  amatch  total
0            PSS Sleman      13      15     28
1     Rans Nusantara FC      14      14     28
2        Bhayangkara FC      14      14     28
3        Persikabo 1973      14      14     28
4       Persija Jakarta      14      14     28
5      PS Barito Putera      13      15     28
6         PSIS Semarang      14      14     28
7     Persita Tangerang      14      14     28
8    Persebaya Surabaya      13      15     28
9           Persis Solo      14      14     28
10        Persik Kediri      14      14     28
11             Arema FC      15      13     28
12     Madura United FC      14      14     28
13       Dewa United FC      14      14     28
14  Borneo FC Samarinda      15      13     28
15       Bali United FC      15      13     28
16       Persib Bandung      14      14     28
17         PSM Makassar      14      14     28